@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../image/neom-ckfXPMb2_BI-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.card {
  width: 420px;
  border: rgba(255, 255, 255, 0.2);
  background-color: transparent;
  padding: 30px 40px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card h1 {
  text-align: center;
  font-size: 36px;
}

.card .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
}

.card .input-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.card .input-box input::placeholder {
  color: #fff;
}

.card .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #fff;
}

.card .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
  color: #fff;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  text-decoration: none;
  color: #fff;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.card .button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #333;
}

.card .button:hover {
  background-color: rgb(86, 95, 95);
  color: #fff;
}

.card .register {
  color: #fff;
  text-align: center;
  margin: 20px 0 20px;
  font-size: 14px;
}

.card .register a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.card .register a:hover {
  text-decoration: underline;
}
